/* src/components/Register.css */

  
  .cuerpo {
    margin: 0;
    background: linear-gradient(to bottom, #f0f0f0, #ccc);
    width: 100vw;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .form-section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-box {
    background: white;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
  }
  
  .logo {
    font-size: 32px;
    font-weight: bold;
    color: #6c3483;
    margin-bottom: 30px;
    display: flex;
    position: relative;
    left: 10px;
    justify-content: center;
  }
  

.logo3{
    width: 60px;
    padding: 10px;
    position: relative;
    top: -10px;
}
   .Input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    background-color: #ddd;
    border-radius: 20px;
  }
  
  .form-box button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4b007d;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .form-box a {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #6c3483;
    text-decoration: none;
  }
  
  .side-text {
    flex: 1;
    background: linear-gradient(to bottom right, #4b007d, #b48de3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 300;
    padding: 40px;
    text-align: center;
  }
  